/* =======================
-======HOME 1 ALL ==== 
==========================*/


/*====== home 1 hero are all ======*/

@media screen and (max-width: 769px) {
    .main-hadding1 h1 {
        color: var(--main-text-color, #181A1C);
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px; /* 108.333% */
      }
      .hero-img3 {
        position: absolute;
        right: 0;
        top: 71px;
    }
    .hero-img2 {
        position: absolute;
        right: 74px;
        top: 0;
    }    

    .hero-img1 {
        position: absolute;
        right: 47px;
        top: 68px;
        vertical-align: middle;
    }

    .hero-img4 {
        position: absolute;
        left: 50px;
        top: 165px;
    }

    .hero-img2 img {
        border-radius: 100px 180px 200px 263px;
    }

    .hero1-all-images.text-end {
        position: relative;
        height: 700px;
        width: 100%;
        /* margin-right: -100px; */
        margin-top: 52px;
    }

    .hadding1 h1 {
        color: var(--main-text-color, #181A1C);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 120% */
      }

      .about1-hadding {
        margin-top: 30px;
      }
      .work3-hadding {
        padding-left: 0;
      }

}

@media screen and (max-width: 426px) {
    .hero1-all-images.text-end {
        position: relative;
        height: 510px;
        width: 100%;
        /* margin-right: -100px; */
        margin-top: 40px;
    }

    .hero-img2 {
        position: absolute;
        right: 0;
        top: 0;
    }

    .hero-img1 {
        position: absolute;
        right: 0;
        top: 68px;
        vertical-align: middle;
    }

    .hero-img2 {
        position: absolute;
        right: 0;
        top: 45px;
    }

    .hero-img3 {
        position: absolute;
        left: 0;
        top: 165px;
        display: none;
    }

    .hero-img4 {
        position: absolute;
        left: 0;
        top: 165px;
    }
}

@media screen and (max-width: 321px) {
    .hero1-all-images.text-end {
        position: relative;
        height: 414px;
        width: 100%;
        /* margin-right: -100px; */
        margin-top: 40px;
    }
}

/*====== home 1 hero are all ======*/


/*====== home 1 story are all ======*/

@media screen and (max-width: 769px) {
    .choose-box-uniqe {
        margin-top: 50px;
    }
    .story-hadding2 {
        padding-left: 15px;
    }
    .story-hadding1 {
        padding-right: 0;
    }

    .story-hadding2::after {
        display: none;
    }

    .contact-from-input input {
        border: 1px solid #D1D5DB;
        padding: 15px;
        border-radius: 5px;
        width: 99%;
        margin-left: 8px;
        margin-top: 20px;
    }

    .contact1-hadding {
        padding-left: 0;
        padding-top: 40px;
    }

    .hadding1-w h1 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
    }

    .padding-left20 {
        padding-left: 0;
    }
}


/*====== home 1 story are all ======*/


/* =======================
-======HOME 1 ALL ==== 
==========================*/

/* =======================
-======HOME 2 ALL ==== 
==========================*/

/* ======home 2 hero area  =======*/

@media screen and (max-width: 796px) {
    .main-hadding2 h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .theme-btn4 {
        margin-left: 0;
        margin-top: 20px;
    }

    .hero-area2 {
        height: 1200px;
    }
    .about2-hadding  {
        padding-left: 0;
    }
    .about2-hadding {
        padding-top: 30px;
    }

    .story2-hadding2 {
        padding-left: 20px;
        position: relative;
    }

    .choose2-box.choose2-left {
        margin-left: 0;
    }

    .choose2-box.choose2-right {
    margin-right: 0;
}
.choose2-box2.choose2-left {
    margin-left: 0;
}

.choose2-box2.choose2-right {
    margin-right: 0;
}

.all-testimonial2 {
    margin-top: 30px;
}
.hadding2 h1 {
    font-size: 32px;
    line-height: 40px;
}
.social.social2 {
    margin-bottom: 20px;
}
.single-footer.single-footer2 ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}

.cta2-hadding h1 {
font-size: 32px;
line-height: 40px;
}
.cta2-form {
    margin-top: 30px;
}

.team2-box {
    opacity: 1;
}

.team2-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(25deg, rgba(13, 79, 81, 0.70) 29.3%, rgb(1 9 9 / 0%) 61.75%, rgba(0, 0, 0, 0.00) 72.32%), url(<path-to-image>), #d3d3d300 50% / cover no-repeat;
    transform: translateY(0);
    opacity: 1;
    transition: all.4s;
}

.team2-box-hover {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
    z-index: 9;
    transform: translateY(0);
    opacity: 1;
    transition: all.4s;
}



}

@media screen and (max-width: 426px) {
    .hero2-all-images {
        height: 510px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-top: 0;
    }
    .social.social2 {
        margin-bottom: 0;
    }

    
    .hero2-img1 {
        position: absolute;
        right: 10px;
        bottom: 0;
        z-index: 2;
        left: 10px;
    }

    .main-hadding2 span.after::after {
        position: absolute;
        content: "";
        bottom: -22px;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../img/shapes/hero2-hadding-shape.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main-hadding2 h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .blog-single-side-img {
        display: block;
    }

    .blog2-img2 {
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .main-hadding2.font-f-7 {
        margin-top: 70px;
    }

    .team2-box {
        position: relative;
        margin-top: 30px;
        overflow: hidden;
        height: 300px;
    }

    .hero2-all-images.hero2-all-images-m.text-end {
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 321px) {
    .hero2-all-images {
        height: 375px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-top: 98px;
    }
}

/* ======home 2 hero area  =======*/


/* =======================
-======HOME 2 ALL ==== 
==========================*/

/* =======================
-======HOME 3 ALL ==== 
==========================*/

/* ======home 3 hero area  =======*/

@media screen and (max-width: 769px) {
    .hero-area3._relative {
        overflow: hidden;
        min-height: 812px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        align-items: center;
    }

    .main-hadding3 h1 {
        color: #181A1C;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
    }

    .hero3-all-images-position {
        position: absolute;
        right: 0;
        top: 400px;
        height: 100%;
        overflow: hidden;
    }

    .work3-hadding {
        margin-top: 30px;
    }
}

@media screen and (max-width: 426px) {
    .hero-area3._relative {
        height: 910px;
    }

    .main-span3 {
        padding-top: 40px;
    }

    .hero3-all-images-position {
        position: absolute;
        right: 0;
        top: 438px;
        height: 100%;
        overflow: hidden;
    }
    .hero3-element1 {
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

@media screen and (max-width: 376px) {
    .hero3-all-images-position {
        position: absolute;
        right: 0;
        top: 498px;
        height: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 321px) {
    .hero-area3._relative {
        height: 950px;
        display: block;
    }


.hero3-all-images-position {
    position: absolute;
    right: 0;
    top: 650px;
    height: 100%;
    overflow: hidden;
}

.theme-btn7 {
    color: #0D4F51;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 5px;
    transition: all.4s;
    margin-left: 0;
    margin-top: 20px;
    margin-right: 30px;
}

.main-hadding3 {
    margin-top: 20px;
}

}

/* ======home 3 hero area  =======*/

/* ======home 3 about area  =======*/

@media screen and (max-width: 769px) {
    .about3-hadding {
        margin-top: 30px;
    }

    .testimonial5.sp3._relative {
        padding-bottom: 90px;
    }

    .hadding3 h1 {
        color: var(--neutral-main-text-color, #19191B);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: capitalize;
    }

    .testimonial1-box {
        border-radius: 5px;
        background: #FFF;
        padding: 24px 16px;
        margin-right: 10px;
    }

    .service3.sp3 {
        margin-top: -200px;
    }
    .countrie3-hadding {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -90px;
        z-index: 2;
        opacity: 1;
        transition: all.4s;
        width: 300px;
        text-align: center;
    }

    .countrie3-box::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        border-radius: 5px;
        transition: all.4s;
        transform: scale(1);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>), rgba(211, 211, 211, 0.014) 50% / cover no-repeat;
    }
}

@media screen and (max-width: 426px) {
    .about3-all-images {
        height: 600px;
    }

    .contact1-form-all {
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        position: relative;
        background-color: #fff;
    }

    .hero4-all-images {
        height: 400px;
        position: relative;
        width: 100%;
        margin: 100px 0px 0px 0px;
        
    }

    .team1-img.img-5-top.img100 img {
        height: 300px;
        object-fit: cover;
    }

    .hadding4 h1 {
        color: var(--neutral-main-text-color, #19191B);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        text-transform: capitalize;
    }

    

    .choose3-images {
        position: absolute;
        right: 0;
        top: 750px;
        overflow: hidden;
        /* border-radius: 0px 0px 0px 117px; */
        margin-bottom: 100px;
        /* bottom: 0; */
    }
    .choose3-all-images {
        height: 500px;
    }

    .choose3.sp3._relative {
        height: 1350px;
    }
}

@media screen and (max-width: 376px) {
    .choose3-images {
        position: absolute;
        right: 0;
        top: 830px;
        overflow: hidden;
        /* border-radius: 0px 0px 0px 117px; */
    }
    .choose3-all-images {
        height: 500px;
    }
}

@media screen and (max-width: 321px) {
    .choose3-images {
        position: absolute;
        right: 0;
        top: 888px;
        overflow: hidden;
        /* border-radius: 0px 0px 0px 117px; */
    }
}

/* ======home 3 about area  =======*/

/* =======================
-======HOME 3 ALL ==== 
==========================*/


/* =======================
-======HOME 4 ALL ==== 
==========================*/

/* ======home 4 hero area  =======*/

@media screen and (max-width: 769px) {

.main-hadding4 h1 {
    color: var(--Main-Text-Color, #181A1C);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}

.theme-btn10 {
    color: #2B29A4;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    background: transparent;
    padding: 18px 24px;
    border-radius: 5px;
    display: inline-block;
    transition: all.4s;
    border-radius: 5px;
    border: 1px solid var(--3rd-home-main, #2B29A4);
    margin-left: 0;
    margin-top: 20px;
}

.main-hadding4 {
    padding-top: 60px;
}

.hero4-all-images {
    height: 550px;
    position: relative;
    width: 100%;
    margin: 70px 0;
}

.about4-hadding {
    padding-left: 0;
    padding-top: 30px;
}

.choose4-images {
    margin-top: 40px;
}

.progress4-hadding-all {
    padding-left: 0;
    margin-top: 100px;
}

.hadding4-w h1 {
    font-size: 32px;
    line-height: 40px;
}
.cta4-button {
    position: inherit;
    top: 0;
    right: 106px;
    margin-top: 20px;
}

}

@media screen and (max-width: 426px) {
    .choose4-images {
        position: relative;
        height: 460px;
    }

    .progress4-hadding-all {
        padding-left: 0;
        margin-top: 30px;
    }
}
/* ======home 4 hero area  =======*/


/* =======================
-======HOME 4 ALL ==== 
==========================*/

/* =======================
-======HOME 5 ALL ==== 
==========================*/

/* ======home 5 hero area  =======*/

@media screen and (max-width: 769px) {
    .main-hadding5 h1 {
        color: var(--Main-Text-Color, #181A1C);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      padding-top: 50px;
      }

      .hero-area5 {
        background-color: #F0F0F5;
        overflow: hidden;
        min-height: 1150px;
        display: block;
      }

      .counter5::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        height: 33%;
        width: 100%;
        background: #1A1A42;
        z-index: 1;
    }

    .counetr5-main-hadding {
        margin-top: 70px;
        text-align: center;
    }

    .couner5-hadding {
        padding: 23px 50px;
    }
}

@media screen and (max-width: 426px) {
    .hero5-img3 {
        display: none;
    }

    .hero5-img2 {
        position: absolute;
        right: 82px;
        bottom: 0;
    }

    .counter5::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        height: 36%;
        width: 100%;
        background: #1A1A42;
        z-index: 1;
    }

}

/* ======home 5 hero area  =======*/

/* ======home 5 about area  =======*/

@media screen and (max-width: 769px) {
    .hadding5 h1 {
        color: var(--Main-Text-Color, #181A1C);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 120% */
      }

      .about5-hadding {
        padding-left: 0;
        padding-top: 30px;
    }

    .type-vis-img2.img100.img5 {
        padding-left: 0px;
    }
    .team5-img2 {
        margin-left: -14px;
    }

    .cta5-button {
        text-align: start;
        margin-top: 30px;
    }
    .choose2-box3.choose2-right {
        margin-right: 0;
    }

    .choose2-box3.choose2-left {
        margin-left: 0;
    }

    .hero6-form {
        background: #FFF;
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 24px 24px;
    }
}

@media screen and (max-width: 426px) {
    
    .team5-img1 {
        position: absolute;
        top: -15px;
        left: 69px;
    }
}

@media screen and (max-width: 376px) {
    .team5-img1 {
        position: absolute;
        top: -15px;
        left: 42px;
    }
}

@media screen and (max-width: 321px) {
    .team5-img1 {
        position: absolute;
        top: -15px;
        left: 16px;
        
    }
    .about5-reting {
        display: block;
        align-items: center;
    }

}
/* ======home 5 about area  =======*/

/* =======================
-======HOME 5 ALL ==== 
==========================*/

/* =======================
-======HOME 6 ALL ==== 
==========================*/

/* ======home 6 hero area  =======*/

@media screen and (max-width: 769px) {
    .main-hadding6 h1 {
        color: var(--Main-Text-Color, #181A1C);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 1.8px;
    }

    .hero6-single-input {
        padding-top: 12px;
    }
    .about6-hadding {
        padding-left: 0;
        padding-top: 30px;
    }

    .hadding6 h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .choose2-box4.choose2-left {
        margin-left: 0;
    }
    .choose2-box4.choose2-right {
        margin-right: 0;
    }

    .team6-image {
        margin-top: 30px;
        text-align: start;
    }
}

@media screen and (max-width: 426px) {
    .about6-img3 {
        padding-top: 15px;
    }

    .work6-box {
        margin-top: 15px;
    }
}

@media screen and (max-width: 321px) {
    .hero-area6 {
        overflow: hidden;
        min-height: 912px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* ======home 6 hero area  =======*/

/* =======================
-======HOME 6 ALL ==== 
==========================*/

/* =======================
-======HOME 7 ALL ==== 
==========================*/

/* ======home 7 hero area  =======*/
@media screen and (max-width: 769px)  {

    .main-hadding7 {
        padding-top: 60px;
    }

    .choose3-images {
        position: absolute;
        right: 0;
        bottom: 50px;
        overflow: hidden;
        /* border-radius: 0px 0px 0px 117px; */
        top: auto;
    }
    .team6-image {
        text-align: start;
    }

    .team1-img.img-5-top.img100 {
        height: 300px;
    }
    
    .team1-img.img-5-top.img100 img {
        object-fit: cover;
    }

    .story2-hadding2::after {
        display: none;
    }

    .main-hadding7 h1 {
        color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 107.692% */
      letter-spacing: 1.95px;
      }
      .tes7.sp3 {
        padding-bottom: 90px;
    }

      .hero7-form-all {
        margin-bottom: 60px;
    }

    .type-visa-images._relative {
        margin-top: 40px;
    }

    .tes7-slider-all.owl-carousel.owl-loaded.owl-drag {
        margin-left: 0;
        margin-top: -100px;
    }

    .tes7-main-image {
        background-image: url(../img/image/testimonial7-main-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        margin-right: 0;
        margin-left: -10px;
    }

    .contact-map {
        position: relative;
        z-index: 9;
        margin-bottom: 100px;
        margin-left: 0px;
        transition: all.4s;
        margin-top: 62px;
    }

    .contact7-icon-box {
        margin-top: 30px;
    }

    .social.social7 {
        padding: 20px 0px;
    }

    .single-footer ul {
        list-style: none;
        padding: 0;
        padding-left: 0;
    }

    .single-footer h3 {
        margin-left: 0;
        margin-top: 24px;
    }

    .contact-map::after {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 0;
        background-color: #b000e9;
        height: 100%;
        width: 70%;
        border-radius: 5px;
        z-index: 2;
        transition: all.4s;
    }

    .hadding7 h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .page-hero-hadding h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .cta2-hadding2 {
        padding-right: 0;
    }

    .short-by {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    .shop-icons {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 426px) {
    .hero7-all-buttons {
        display: block;
    }

    .hero7-all-buttons .theme-btn15 {
        margin-left: 27px;
        margin-bottom: 20px;
    }
    
    .main-hadding1 {
        padding-top: 60px;
    }

    .team-details-list li {
        display: block;
    }
    .single-product-slider-single.slick-slide.slick-current.slick-active {
        height: auto;
        border-radius: 5px;
    }
    .codepen-area {
        display: block;
    }
    .all-3-btn {
        margin-top: 30px;
    }

    .coupon-input input {
        border: 1px solid #E7E8EA;
        padding: 13px;
        border-radius: 5px;
        width: 244px;
    }

    .apply-code-row {
        display: block;
}

.apply-code-input input {
    margin-bottom: 20px;
}

.cart-product-list-checkout {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.checkout-span {
    color: var(--5th-Main, #13AAA1);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.contact-page2-box {
    margin-top: 30px;
}

.nice-select.wide.contact-page2-select {
    margin-bottom: 20px;
}
}

@media screen and (max-width: 321px) {
    .product-img-list {
        display: block;
    }
}

/* ======home 7 hero area  =======*/

/* =======================
-======HOME 7 ALL ==== 
==========================*/


/* =======================
-======HOME 7 ALL ==== 
==========================*/


@media screen and (max-width: 769px) {
    .main-hadding8 h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .main-hadding8 {
        padding-top: 160px;
    }

    .hero-area8 {
        background-image: url(../img/bg/hero8-bg.png);
        overflow: hidden;
        min-height: 1250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: start;
      }

      .hero8-all-images {
        margin-right: 0;
        margin-top: 50px;
    }

    .about8-hadding {
        padding-top: 30px;
    }

    .choose8-hadding {
        padding-left: 0;
        padding-top: 30px;
    }
    .hadding8 h1 {
        font-size: 32px;
        line-height: 40px;
    }


}


/* =======================
-======HOME 7 ALL ==== 
==========================*/

/* =======================
-======HOME 10 ALL ==== 
==========================*/

@media screen and (max-width: 769px) {
    .hero10-form {
        margin-right: 0;
        position: relative;
        z-index: 9;
    }
    .hero9-img.text-end {
        margin-right: 0;
    }

    .main-hadding10 h1 {
        color: var(--Main-Text-Color, #181A1C);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
    }

    .main-hadding10 {
        padding-top: 100px;
    }

    .hero10-button {
        margin-top: 30px;
    }

    .hero11-main-images {
        position: relative;
        height: 500px;
        margin-top: 45px;
        margin-bottom: 120px;
    }

    .hero13-single-slider img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        margin-top: 140px;
    }
    .hero13-main-hadding .main-hadding7 h1 {
        font-size: 40px;
        line-height: 48px;
      }

      .hero13-main-hadding .main-hadding7 {
        padding-top: 0;
      }

      .hero13-main-hadding {
        padding-bottom: 100px;
        padding-top: -50px;
      }

      .testimonial-arrows {
        margin-top: 60px;
    }
    .hero-area7._relative.bg-video-wrap {
        height: 300px;
    }
    .main-hadding7.main-hadding12 {
        margin-top: -100px;
    }
}

@media screen and (max-width: 426px) {
    .hero11-main-images {
        position: relative;
        height: 500px;
        margin-top: 45px;
        margin-bottom: 0;
    }
}



/* =======================
-======HOME 10 ALL ==== 
==========================*/


/* =======================
-======PREVIEW ALL ==== 
==========================*/

@media screen and (max-width: 769px) {

    .preview-hero {
        overflow: hidden;
        display: flex;
        align-items: start;
        min-height: 1100px;
      }
    
      .preview-hadding {
        padding-top: 80px;
        margin-top: -500px;
    }

    .preview-hadding h1 {
        font-size: 40px;
        line-height: 48px;
    }
 
}

@media screen and (max-width: 426px) {
    .preview-hero {
        overflow: hidden;
        display: flex;
        align-items: start;
        min-height: 900px;
      }

      .preview-hadding {
        padding-top: 80px;
        margin-top: -400px;
    }
}

/* =======================
-======PREVIEW ALL ==== 
==========================*/


/* =======================
-======RTL ALL ==== 
==========================*/

@media screen and (max-width: 769px) {
    .rtl-body .hero1-all-images.text-end {
        margin-right: 0;
    }

    .rtl-body .menu-close-logo {
        /* position: absolute; */
        top: 15px;
        /* margin-bottom: 40px; */
        margin-top: -34px;
        margin-bottom: 20px;
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .rtl-body .mobile-nav li a {
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        padding: 10px 0;
        display: block;
        margin-right: 48px;
    }
    .rtl-body .contact1-hadding {
        padding-left: 0;
        padding-right: 0;
      }
}

/* =======================
-======RTL ALL ==== 
==========================*/
